<div class="mat-elevation-z8" *ngIf="transactions">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span *ngIf="isLTA">الاسم</span>
        <span *ngIf="!isLTA">رقم الجرار</span>
      </th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- Truck Column -->
    <ng-container matColumnDef="truck">
      <ng-container>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>رقم المقطورة</th>
        <td mat-cell *matCellDef="let row">{{row.truckNumber}}</td>
      </ng-container>
    </ng-container>

    <!-- Conducteur Column -->
    <ng-container matColumnDef="conducteur">
      <ng-container>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>اسم السائق</th>
        <td mat-cell *matCellDef="let row">{{row.conducteur}}</td>
      </ng-container>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ isLTA ? 'الوزن' : 'الحمولة' }}
      </th>
      <td mat-cell *matCellDef="let row">{{row.quantity}}</td>
    </ng-container>

    <!-- Date Column for LTA -->
    <ng-container matColumnDef="date" *ngIf="isLTA">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date التاريخ</th>
      <td mat-cell *matCellDef="let row">{{row.date | date : 'd-LLL'}}</td>
    </ng-container>

    <!-- Destination Column -->
    <ng-container matColumnDef="destination">
      <ng-container>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>الوجهة</th>
        <td mat-cell *matCellDef="let row">{{row.destination}}</td>
      </ng-container>
    </ng-container>

    <!-- Nature Column -->
    <ng-container matColumnDef="nature">
      <ng-container>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>نوعية الحمولة</th>
        <td mat-cell *matCellDef="let row">{{row.nature}}</td>
      </ng-container>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date" *ngIf="!isLTA">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>التاريخ</th>
        <td mat-cell *matCellDef="let row">{{row.date | date : 'd-LLL'}}</td>
    </ng-container>

    <!-- Price per Unit Column -->
    <ng-container matColumnDef="perunit">
      <ng-container>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ثمن الطن</th>
        <td mat-cell *matCellDef="let row">{{row.prixUnitaire}}</td>
      </ng-container>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <ng-container>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>المبلغ</th>
        <td mat-cell *matCellDef="let row">{{row.price}}</td>
      </ng-container>
    </ng-container>

    <!-- Payment Column -->
    <ng-container matColumnDef="payment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>الدفع</th>
      <td mat-cell *matCellDef="let row">{{row.payment}}</td>
    </ng-container>

    <!-- Button Column -->
    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row">
        <button [routerLink]="['transactions', 'form', row.id]" mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="deleteTransaction(row.id)" mat-mini-fab color="warn" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>

      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]=" 1"
      [pageIndex]="0"
      [pageSize]="pageSize"
      [pageSizeOptions]="[1, 5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
<button [routerLink]="['transactions', 'form']" *ngIf="admin" class="add-button" mat-fab color="primary" aria-label="Add new item button">
  <mat-icon>add</mat-icon>
</button>

