// form {
//   width: 100%;
//   height: 80%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }

:host {
  // background: radial-gradient(90deg ,black, white);
}
.login-form{
  max-width: 256px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 50px;
}
