<mat-card class="form-card">
  <form [formGroup]="form">
    <h2>انشاء مستخدم جديد </h2>
    <mat-grid-list [cols]="breakpoint.cols" [rowHeight]="breakpoint.ration" (window:resize)="onResize($event)">
      <mat-grid-tile colspan="2">
        <mat-form-field>
          <mat-label>الاسم</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-form-field>
          <mat-label>رمز الزبون</mat-label>
          <input matInput type="text" formControlName="code">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-form-field>
          <mat-label>الملاحظات</mat-label>
          <textarea matInput placeholder="اضف الملاحظات هنا ..." formControlName="notes"></textarea>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-form-field>
          <mat-label>رقم الاعمال</mat-label>
          <input matInput type="number" formControlName="chifer">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-form-field appearance="fill">
          <mat-label>كلمة السر</mat-label>
          <input matInput [type]="showPass ? 'text' : 'password'" formControlName="password">
          <mat-icon matSuffix (click)="showPassword()">visibility</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-form-field appearance="fill">
          <mat-label>البريد الالكتروني</mat-label>
          <input matInput type="email" formControlName="email">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-form-field appearance="fill">
          <mat-label>الهاتف</mat-label>
          <input matInput type="tel" formControlName="phone">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" *ngIf="editMode">
        <!-- <mat-radio-group formControlName="isAdmin">
          <mat-radio-button [value]="true">مدير للتطبيق</mat-radio-button>
          <mat-radio-button [value]="false">مستخدم عادي</mat-radio-button>

        </mat-radio-group> -->
        <mat-slide-toggle
          color="primary"
          formControlName="isAdmin"
        >
          مدير
        </mat-slide-toggle>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-form-field appearance="fill">
          <mat-label>العنوان</mat-label>
          <input matInput type="text" formControlName="address">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-form-field appearance="fill">
          <mat-label>البنك</mat-label>
          <input matInput type="text" formControlName="bank">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-form-field appearance="fill">
          <mat-label>رقم الحساب</mat-label>
          <input matInput type="text" formControlName="compt">
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>

    <button mat-raised-button (click)="onSubmit()" color="primary">
      {{
         editMode ? 'تعديل' : 'إنشاء'
      }}
    </button>
  </form>
</mat-card>
