<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>القائمة</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']">الرئيسية</a>
      <a mat-list-item [routerLink]="['/', 'dashboard']">قائمة الاشهر</a>
      <a mat-list-item [routerLink]="['/', 'factures']">الفواتير</a>
      <button (click)="logOut()" mat-raised-button color="accent">
        الخروج
        <mat-icon>logout</mat-icon>
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="nav-items">
        <div></div>
        <div class="hero-link" routerLink="">
          <span>SAPS MAURITANIA</span>
          <p>الشركة العربية للخدمات العامة</p>
        </div>

        <img src="assets/logo.png" alt="spas mauritanie logo" width="74">
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
